<!-- ---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

# Teaching
**Instructor **, Binghamton University  
| Year | Term   | Course Code | Course Title                                |
|:----:|:------:|:------------|:--------------------------------------------|
| 2025 | Winter | ECON 144    | Economic Poverty & Discrimination           |

**Teaching Assistant**, Binghamton University  
<!-- At Binghamton University, I have served as Teaching Assistant for the following courses: -->
| Year | Term   | Course Code | Course Title                                   |
|:----:|:------:|:------------|:-----------------------------------------------|
| 2025 | Fall   | ECON 483C   | Behavioral Economics                           |
| 2025 | Spring | ECON 570/670| Agent-Based Modeling (Python)                  |
| 2024 | Fall   | ECON 476    | Forecasting                                    |
| 2024 | Fall   | ECON 466    | Introduction to Econometrics                   |
| 2024 | Spring | ECON 616    | Econometrics                                   |
| 2023 | Fall   | ECON 483    | Economic Development of Latin America          |
| 2023 | Spring | ECON 350    | U.S. Financial Systems: Markets & Institutions |
| 2022 | Fall   | ECON 454    | Economics of Corporations                      |
